---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Titel">
	<main>
<!-- "get to know me" section -->
 <!-- overskrift -->
<h2 class="font-caveat text-primary-900 text-6xl md:text-[12rem]
           ml-6 md:ml-16 mt-25 md:mt-25"> get to know me</h2>

<article class="grid grid-cols-[7fr_2fr]">
  <!-- tekst -->
   <div>
<p class="font-cutive text-secondary-900 md:text-[1.5rem] mx-10 my-4 md:mx-60">
    I'm a designer inspired by the world around me, especially the movement of water. My work follows a minimalist aesthetic, using contrast, handwritten details, and select colors to create clarity. Alongside design, photography sharpens my eye for detail and offers new perspectives.
  </p> 
  <!-- picture2 -->
<img src="/img_2.png" alt="potræt2" class="md:my-4">
<!-- tekst -->
<p class="font-cutive text-secondary-900 md:text-[1.5rem] mx-10 my-4 md:mx-60">At the core, I see myself as a curious and open-minded person, always eager to observe, to learn, and to translate inspiration into meaningful visual experiences. For me, design is not just about creating—it's about capturing balance, emotion, and movement, and shaping them into something timeless.</p>
   </div>
  
  <!-- picture1 -->
  <img 
    src="/img_1.png" 
    alt="potræt1" 
    class="w-full max-w-none h-auto object-contain -mr-20">
</article>



<article class="grid grid-cols-2"> 
	<div>
		<a href="/cv.pdf" target="blank"><Button>Read more about my experience →</Button></a>
	</div>
<!-- picture3 -->
 <img src="/img_3.png" alt="potræt3">
</article>
	</main>
</MainLayout>