---
---
<div class="bg-primary-800 mx-auto flex flex-col items-center p-10 gap-10">
     
        <a href="https://dk.pinterest.com/" target="_blank">
          <img src="/pinterest_icon.png" alt="pinterest" class="h-10 w-10 md:hover:scale-110 md:transition-transform duration-300" />
        </a>
      
      
        <a href="https://www.facebook.com/margherita.feltrin.92" target="_blank">
          <img src="/facebook_icon.png" alt="fb" class="h-10 w-10 md:hover:scale-110 md:transition-transform duration-300" />
        </a>
      
     
        <a href="https://www.instagram.com/margy.feltry/" target="_blank">
          <img src="/insta_icon.png" alt="insta" class="h-10 w-10 md:hover:scale-110 md:transition-transform duration-300" />
        </a>
     
      
        <a href="mailto:margi.feltrin@gmail.com" target="_blank" rel="noopener noreferrer">
          <img src="/email_icon.png" alt="email" class="h-10 w-10 md:hover:scale-110 md:transition-transform duration-300" />
        </a>
  </div>
  